<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>@ViewBag.Title</title>

	<link rel="shortcut icon" href="/favicon.png" />

	<link href="~/css/site.min.css" asp-append-version="true" rel="stylesheet"/>
	<link href="~/lib/theme/css/theme.min.css" asp-append-version="true" rel="stylesheet"/>
	
	@await Html.PartialAsync("Helpers/_IE8fix")
	@await Html.PartialAsync("Helpers/_AppInsight")
</head>
<body class="boxedlayout">
	<script src="/lib/theme/js/theme.min.js" asp-append-version="true"></script>

	@await Html.PartialAsync("_Header")
    
    @RenderBody()
    
    @await Html.PartialAsync("_Footer")
    
    @RenderSection("Scripts", required: false)
</body>
</html>
